* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* #region utilities */

:root {
    --tb-head: #b4d0e7;
    --tb-button: #0061ff;
    --tb-white: white;
}

.d-30 {
    width: 30%;
}

.d-70 {
    width: 70%;
}

.txtsmall {
    font-size: small;
}

.txtbig {
    font-size: 1.5rem;
}

.txtbigger {
    font-size: 2rem;
}

.lighttext {
    color: darkgray;
}

.btn {
    background-color: var(--tb-button);
    color: var(--tb-white);
    border: none;
    padding: 10px;
}

.mtb2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px ;
}

.pd-1 {
    padding: 10px;
}

.m-1 {
    margin: 10px;
}

.w-30 {
    width: 30%;
}

.fa-check {
    color: var(--tb-button);
}

.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
}

.ls-none {
    list-style: none;
}

.col-4 {
    width: calc(96% / 12 * 4);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

/* #endregion utilities */

/* #region debug */

.debug #app-header {
    height: 50px;
}

.debug .container {
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: darkolivegreen;
    margin-bottom: 1rem;
}

.debug .image {
    height: 100px;
    width: 100px;
    background-color: grey;
    flex: auto;
}

/* #endregion debug */

/* #region header */

#app-header {
    background-color: var(--tb-white);
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

#app-header ul, li {
    padding: 0.5rem;
}

#l-header, #r-header {
    height: 100%;
}

/* #endregion header */

/* #region main */

#intro {
    background-color: var(--tb-head);
}

#containerintro {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

#title {
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumboimage {
    width: 100%;
}

.plans {
    gap: 1rem;
}

.plan-type {
    text-align: center;
    border-bottom: 2px solid gray;
}

.card {
    background-color: white;
    border: 2px solid gray;
}

.design {
    flex: 1;
}

.big-partner {
    flex: 3;
}

/* #endregion main */

#app-footer {
    color: white;
    width: 100%;
    justify-content: center;
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

#app-footer h4 {
    margin-bottom: 1rem;
}